.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.left {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
}

.right span {
  background-color: #26dfeb;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: large;
}
.left span {
  font-size: x-large;
  font-weight: 700;
}
.light-text {
  color: #26dfeb;
}
.dark-text {
  color: #372fa4;
}
.search-container {
  position: relative;
  width: 30rem;
}

.search-container input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
}
.head-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.search-icon {
  left: 10px;
}
.bell-icon {
  fill: #372fa4;
  color: #372fa4;
  right: 10px;
}

.plus-icon {
  color: white;
  background-color: #372fa4;
  border-radius: 5px;
  padding: 0.2rem;
}
